{extend name="common/base" /}
{block name="main"}
<h1 class="page-header">单位编辑</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>单位名称</th>
                <th>奖牌数</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {foreach ($departments as $department)}
            <tr>
                <form action="{:url('admin/Department/update', ['id' => $department->id])}" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <td>{$department->id|htmlentities}</td>
                    <td><input type="text" class="form-control" name="name" value="{$department->name|htmlentities}"></td>
                    <td><input type="text" class="form-control" name="medal_count" value="{$department->medal_count|htmlentities}"></td>
                    <td>
                        <button type="submit" class="btn btn-primary">保存修改</button>
                        <button type="button" class="btn btn-danger" onclick="confirm('确认删除？') && document.getElementById('form-delete-{$department->id|htmlentities}').submit();">删除</button>
                    </td>
                </form>
                <form action="{:url('admin/Department/delete', ['id' => $department->id])}" id="form-delete-{$department->id|htmlentities}" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                </form>
            </tr>
            {/foreach}
            <tr>
                <form action="{:url('admin/Department/save')}" method="POST">
                    <td>+</td>
                    <td><input type="text" class="form-control" name="name"></td>
                    <td><input type="text" class="form-control" name="medal_count"></td>
                    <td>
                        <button type="submit" class="btn btn-primary">新建</button>
                    </td>
                </form>
            </tr>
        </tbody>
    </table>
</div>

{/block}
