<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="{:url('admin/Index/index')}">后台管理主页</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="{:url('admin/Department/index')}">单位</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="{:url('admin/Game/index')}">比赛</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="{:url('admin/Post/index')}">文章</a></li>
        <li class="nav-sidebar-sub-item"><a href="{:url('admin/Post/create')}">撰写新文章</a></li>
    </ul>
</div>
